
@*
    This view is the basic screen for viewing orders
    It allows you to view and filters orders. Orders can also be cancelled here
    Future: Users can only view THEIR orders. Admins can view all
    Future: Add link to browse all orders, even fulfilled ones
*@

@model BrowseOrdersViewModel
@inject SignInManager<User> signInManager
<div class="row justify-content-center orders-page">
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <h1 class="fw-bold">All Orders</h1>
    }
    else
    {
        <h1 class="fw-bold">Your Orders</h1>
    }
    
</div>

<div class="d-flex gap-2 justify-content-end mb-4 flex-wrap">
    
        <a asp-action="Index"
            asp-controller="OrderFilters"
            asp-route-Filters.IncludeActiveOrders="@(!Model.Filters.IncludeActiveOrders)"
            asp-route-Filters.IncludeCancelledOrders="@Model.Filters.IncludeCancelledOrders"
            asp-route-Filters.IncludePastOrders="@Model.Filters.IncludePastOrders"
            class="order-filter-btn @(Model.Filters.IncludeActiveOrders ? "btn btn-success" : "btn btn-outline-success")">
            Active Orders
        </a>
    

    
        <a asp-action="Index"
           asp-controller="OrderFilters"
           asp-route-Filters.IncludeActiveOrders="@Model.Filters.IncludeActiveOrders"
           asp-route-Filters.IncludeCancelledOrders="@(!Model.Filters.IncludeCancelledOrders)"
           asp-route-Filters.IncludePastOrders="@Model.Filters.IncludePastOrders"
           class="order-filter-btn @(Model.Filters.IncludeCancelledOrders ? "btn btn-success" : "btn btn-outline-success")">
            Cancelled Orders
        </a>
    

    
        <a asp-action="Index"
           asp-controller="OrderFilters"
           asp-route-Filters.IncludeActiveOrders="@Model.Filters.IncludeActiveOrders"
           asp-route-Filters.IncludeCancelledOrders="@Model.Filters.IncludeCancelledOrders"
           asp-route-Filters.IncludePastOrders="@(!Model.Filters.IncludePastOrders)"
           class="order-filter-btn @(Model.Filters.IncludePastOrders ? "btn btn-success" : "btn btn-outline-success")">
            Past Orders
        </a>
    
</div>

@if (Model.ActiveOrders.Count < 1 && Model.PastOrders.Count < 1)
{
    <p class="mt-1">No orders to display!</p>
}

@if (Model.ActiveOrders.Count > 0)
{
    <h2>Active Orders</h2>
    <table class="table orders-table">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Pickup Date</th>
                <th>Order Total</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order order in Model.ActiveOrders)
            {
                <tr class="@(order.PickupDate < DateTime.Now ? "table-danger" : "")">
                    <td>@order.OrderId</td>
                    <td>@order.PickupDate.ToString("MM/dd/yyyy")</td>
                    <td>@order.OrderTotal.ToString("C")</td>
                    @if (order.PickupDate < DateTime.Now.Date)
                    {
                        <td class="text-warning">Overdue</td>
                    }
                    else if (order.PickupDate.AddDays(7).Date < DateTime.Now.AddDays(7).Date)
                    {
                        <td>Upcoming</td>
                    }
                    else if (order.PickupDate.Date == DateTime.Now.Date)
                    {
                        <td>Pick-Up Today</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <td>
                        <a asp-controller="Order" asp-action="ViewOrder" asp-route-orderId="@order.OrderId" class="btn btn-outline-success">View Order</a>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <form asp-action="UpdateFulfilled" method="post" asp-route-OrderId="@order.OrderId" class="d-inline">
                                <button type="submit" class="btn btn-primary">Fulfilled</button>
                            </form>
                            <a asp-controller="Order" asp-action="ConfirmReject" asp-route-orderId="@order.OrderId" class="btn btn-danger">Reject</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.PastOrders.Count > 0)
{
    <h2>Past Orders</h2>

    <table class="table orders-table">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Pickup Date</th>
                <th>Order Total</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Order order in Model.PastOrders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.PickupDate.ToString("MM/dd/yyyy")</td>
                    <td>@order.OrderTotal.ToString("C")</td>
                    <td>Fulfilled</td>
                    <td>
                        <a asp-controller="Order"
                           asp-action="ViewOrder"
                           asp-route-orderId="@order.OrderId"
                           class="btn btn-outline-success">
                            View Order
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.CancelledOrders.Count > 0)
{
    <h2>Cancelled Orders</h2>

    <table class="table orders-table">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Pickup Date</th>
                <th>Order Total</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Order order in Model.CancelledOrders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.PickupDate.ToString("MM/dd/yyyy")</td>
                    <td>@order.OrderTotal.ToString("C")</td>
                    <td class="text-danger">Cancelled</td>
                    <td>
                        <a asp-controller="Order"
                           asp-action="ViewOrder"
                           asp-route-orderId="@order.OrderId"
                           class="btn btn-outline-success">
                            View Order
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


