@*
    This view is for the Fresh Harvest Market operator only
    It displays all the unfufilled orders, and let's the operator make updates
    Future: Lock behind admin role
    Future: Add link to browse all orders, even fufilled ones
*@
@model List<Order>
<div class="row">
    <div class="col">
        <h1>Manage Active Orders</h1>
    </div>
    @*<div class="col">
        <div class="col">
            <a class="btn btn-primary">See Archived</a>
        </div>
    </div>*@
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Pickup Date</th>
            <th>Order Total</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order order in Model)
        {
            bool hasInventoryIssue = order.Items.Any(i =>
            i.Produce != null &&
            i.Produce.InventoryTotal < i.Quantity);
            <tr>
                <td>@order.OrderId</td>
                <td>@order.PickupDate.ToString("MM/dd/yyyy")</td>
                <td>@order.OrderTotal.ToString("C")</td>
                <td>
                    @if (order.PickupDate < DateTime.Now.Date)
                    {
                        <span class="text-warning">Overdue</span>
                    }
                    else if (order.PickupDate.AddDays(7).Date < DateTime.Now.AddDays(7).Date)
                    {
                        <span>Upcoming</span>
                    }
                    else if (order.PickupDate.Date == DateTime.Now.Date)
                    {
                        <span>Pick-Up Today</span>
                    }
                    else
                    {
                        <span>-</span>
                    }

                    @* inventory warning badge *@
                    @if (hasInventoryIssue)
                    {
                        <span class="badge bg-danger ms-2">Low stock</span>
                    }
                </td>
                <td>
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-orderId="@order.OrderId" class="btn btn-primary">View Order</a>
                    <form asp-action="UpdateFulfilled" method="post" asp-route-OrderId="@order.OrderId" class="d-inline">
                        <button type="submit" class="btn btn-primary">Fulfilled</button>
                    </form>
                    <a asp-controller="Order" asp-action="ConfirmReject" asp-route-orderId="@order.OrderId" class="btn btn-danger">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>