@model List<Discount>

<h1>Discounts</h1>

<div class="mb-2">
    <a asp-controller="Discount" asp-action="Add" class="btn btn-primary">Add New Discount</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Produce Name</th>
            <th>Produce ID</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Discount discount in Model)
        {
            <tr>
                <td>@discount.Produce.ProduceName</td>
                <td>@discount.ProduceId</td>
                <td>@discount.DiscountAmount% off</td>
                <td>
                    <a asp-controller="Discount" asp-action="Edit" asp-route-id="@discount.DiscountId" class="btn btn-primary">Edit</a>
                    <form asp-controller="Discount" asp-action="Delete" asp-route-id="@discount.DiscountId" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>